@use '../lib/mixins';
@use '../lib/colors';
@use '../lib/material';
@use '../lib/notification';

@mixin group-padding {
  padding: 0.341rem;
}

.action-center {
  @include mixins.menu_decel;
  @include mixins.elevation-border;
  @include mixins.elevation2;
  min-width: 27.818rem;
  border-radius: mixins.$rounding_large - mixins.$elevation-margin + 0.068rem;
  background-color: transparentize(colors.$t_background, 0.2);
  padding: 1.023rem;
}

.action-center-show {
  @include mixins.menu_decel;
}

.action-center-hide {
  @include mixins.menu_accel;
  margin-right: -30.682rem;
}

.action-center-group-invisible {
  @include group-padding;
}

.notifications-scrollable {
  @include mixins.scrollbar;
}

.notification-closeall-button {
  @include notification.notification-rounding;
  padding: 0.341rem;

  &:hover {
    background-color: colors.$hovercolor;
  }

  &:active {
    background-color: colors.$activecolor;
  }
}

.notification-listaction-button {
  @include notification.notification-rounding;
  padding: 0.341rem 0.682rem;
}

.notification-listaction-button:hover,
.notification-listaction-button:focus {
  background-color: colors.$hovercolor;
}

.notification-listaction-button:active {
  background-color: colors.$activecolor;
}

.notification-listaction-button-enabled {
  background-color: material.$secondaryContainer;
  color: material.$onSecondaryContainer;
}

.notification-listaction-button-enabled:hover,
.notification-listaction-button-enabled:focus {
  background-color: mix(material.$secondaryContainer, material.$onSecondaryContainer, 90%);
}

.notification-listaction-button-enabled:active {
  background-color: mix(material.$secondaryContainer, material.$onSecondaryContainer, 75%);
}

.tz-local {
  font-size: 2rem;
}
