@use '../colors';
@use '../material';

.bar-bg {
  background-color: colors.$t_background;
  color: material.$onSurfaceVariant;
  padding: 0.125rem 0.35rem;
}

.workspaces {
  button {
    .indicator {
      font-size: 0;
      min-width: 7px;
      min-height: 7px;
      border-radius: 8px;
      margin: 0 4px;
      background-color: material.$onSurfaceVariant;
      transition: 200ms cubic-bezier(0.05, 0.7, 0.1, 1);
    }

    &.focused .indicator {
      min-height: 8px;
      min-width: 26px;
    }

    &.active .indicator {
      background-color: material.$primary;
    }

    &:hover .indicator {
      box-shadow: inset 0 0 0 10px colors.$t_primary;
      background-color: material.$secondary;
    }
  }
}
