@use '../lib/colors';
@use '../lib/material';
@use '../lib/mixins';

.bar-bg {
  @include mixins.element_accel;
  background-color: colors.$t_background;
  color: material.$onSurfaceVariant;
  padding: 0.125rem 0.35rem;
}

.bar-space {
  @include mixins.element_accel;
}

.bar-floating {
  background-color: transparent;
  @include mixins.element_decel;

  .bar-space {
    @include mixins.element_decel;
    @include mixins.small-rounding;
    @include mixins.elevation2;
    background-color: transparentize(colors.$t_background, 0.2);
    padding: 0 1rem;
    margin: 0.25rem;
  }
}

.workspaces {
  button {
    .indicator {
      font-size: 0;
      min-width: 7px;
      min-height: 7px;
      border-radius: 15px;
      margin: 0 4px;
      background-color: material.$onSurfaceVariant;
      transition: min-width 200ms cubic-bezier(0.02, 0.7, 0.1, 1);
    }

    &.focused .indicator {
      min-height: 8px;
      min-width: 26px;
    }

    &.active .indicator {
      background-color: material.$primary;
    }

    &:hover .indicator {
      box-shadow: inset 0 0 0 10px colors.$t_primary;
      background-color: material.$secondary;
    }
  }
}

.bar-systray-item {
  min-height: 1.032rem;
  min-width: 1.032rem;
}

.tray-content {
  &>* {
    margin-right: 0.75rem;
  }

  &>*:last-child {
    margin-right: 0rem;
  }

  &>revealer>* {
    margin-right: 0.75rem;
  }

  &>revealer:last-child>* {
    margin-right: 0;
  }
}

.action-center-button {
  border-radius: 0.5rem;
  @include mixins.element_decel;

  &:hover,
  &:focus {
    background-color: mix(colors.$t_background, colors.$t_onBackground, 90%);
  }

  &.action-center-button-active {
    background-color: mix(colors.$t_background, colors.$t_onBackground, 90%);
  }
}
