@use '../lib/colors';
@use '../lib/material';
@use '../lib/mixins';

.applauncher {
  @include mixins.normal-rounding;
  @include mixins.elevation-border;
  @include mixins.elevation2;
  background-color: transparentize(colors.$t_background, 0.2);
  min-height: 36.5rem;
  min-width: 36.5rem;

  .header {
    margin: 16px;
    margin-bottom: 8px;

    image,
    entry {
      @include mixins.small-rounding;
      @include mixins.elevation-border;
      background-color: colors.$t_surfaceVariant;
      padding: 4px;
    }

    entry {
      padding-left: 9px;
    }

    image {
      margin-right: 9px;
      -gtk-icon-transform: scale(0.8);
      font-size: 1.6em;
    }
  }

  scrolledwindow {
    @include mixins.scrollbar;
    padding: 16px;
    padding-bottom: 0;
  }

  .app {
    margin: 0.25rem 0;

    label {
      &.title {
        color: material.$onSurface;
      }

      &.description {
        color: mix(material.$onSurfaceVariant, material.$surfaceVariant, 67%);
      }
    }

    image {
      margin-right: 9px;
    }

    &:hover,
    &:focus {
      @include mixins.elevation-border;
      @include mixins.small-rounding;
      background-color: colors.$t_surfaceVariant;
    }
  }
}

.launcher-show {
  @include mixins.menu_decel;
}

.launcher-hide {
  @include mixins.menu_accel;
  margin-top: 50rem;
}
