@use './material';
@use './mixins';

.text {
  color: material.$onBackground;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-4xl {
  font-size: 2.25rem;
}

.text-5xl {
  font-size: 3rem;
}

.text-semibold {
  font-weight: 500;
}

.text-onSurfaceVariant {
  color: material.$onSurfaceVariant;
}

.icon-material {
  @include mixins.icon-material;
}

.spacing-h-5>* {
  margin-right: 0.341rem;
}

.spacing-h-5>*:last-child {
  margin-right: 0rem;
}

.spacing-h-5>widget>* {
  margin-right: 0.341rem;
}

.spacing-h-5>widget:last-child>* {
  margin-right: 0rem;
}

.spacing-h-5>revealer>* {
  margin-right: 0.341rem;
}

.spacing-h-5>revealer:last-child>* {
  margin-right: 0rem;
}

.spacing-h-5>scrolledwindow>* {
  margin-right: 0.341rem;
}

.spacing-h-5>scrolledwindow:last-child>* {
  margin-right: 0rem;
}

.spacing-h-15>* {
  margin-right: 1.023rem;
}

.spacing-h-15>*:last-child {
  margin-right: 0rem;
}

.spacing-h-15>revealer>* {
  margin-right: 1.023rem;
}

.spacing-h-15>revealer:last-child>* {
  margin-right: 0rem;
}

.spacing-h-15>scrolledwindow>* {
  margin-right: 1.023rem;
}

.spacing-h-15>scrolledwindow:last-child>* {
  margin-right: 0rem;
}
