@use './mixins';
@use './material' as *;

* {
  all: unset;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

tooltip {
  animation-name: appear;
  animation-duration: 100ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  @include mixins.normal-rounding;
  background-color: $surfaceVariant;
  color: $onSurfaceVariant;
  border: 1px solid $onSurfaceVariant;
}

menu {
  @include mixins.elevation-border-softer;
  padding: 0.681rem;
  background: $surfaceVariant;
  color: $onSurfaceVariant;
  border-radius: 1.159rem;
  -gtk-outline-radius: 1.159rem;

  animation-name: appear;
  animation-duration: 40ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

menubar>menuitem {
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem;
  min-width: 13.636rem;
  min-height: 2.727rem;
}

menu>menuitem {
  padding: 0.4em 1.5rem;
  background: transparent;
  transition: 0.2s ease background;
  border-radius: 0.545rem;
  -gtk-outline-radius: 0.545rem;
}

menu>menuitem:hover,
menu>menuitem:focus {
  background-color: mix($surfaceVariant, $onSurfaceVariant, 90%);
}

menu>menuitem:active {
  background-color: mix($surfaceVariant, $onSurfaceVariant, 80%);
}
