$darkmode: true;
$primary: #abc7ff;
$onPrimary: #002e6a;
$primaryContainer: #0c458f;
$onPrimaryContainer: #d6e2ff;
$secondary: #bec6dc;
$onSecondary: #283041;
$secondaryContainer: #3f4759;
$onSecondaryContainer: #dae2f9;
$tertiary: #debce0;
$onTertiary: #402844;
$tertiaryContainer: #573e5b;
$onTertiaryContainer: #fbd8fc;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #101011;
$background: #101011;
$onBackground: #e4e2e6;
$surface: #1b1b1d;
$onSurface: #e4e2e6;
$surfaceVariant: #44474f;
$onSurfaceVariant: #c4c6d0;
$outline: #8e9099;
$shadow: #000000;
$inverseSurface: #e4e2e6;
$inverseOnSurface: #2f3033;
$inversePrimary: #2f5da8;

@import '/tmp/ags/scss/material';
